
.flex-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url(https://b.zmtcdn.com/images/foodshots/cover/pizza3.jpg?output-format=webp);
    width: 100%;
    padding: 150px;
    background-repeat: repeat;
    background-size: cover;

}
button.btn.btn-primary.active{
    color:#111!important;
    background-color:#fff!important;
}
.loadedContent{
    padding: 2%!important;
}
.content-container.outline.page-header{
    padding-left: 0px!important;
}
.media-body{
    padding-left: 4%!important;
}
span.seletedSort{
    cursor: pointer!important;
}
span.cursor {
    cursor: pointer!important;
}